input[type="search"]::-webkit-search-cancel-button  {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: top left;
  background: url("@site/static/img/help/search-icon.svg") no-repeat 50% 50%;
}

#search_input_react:hover {
  border-color: var(--ifm-color-primary);
}

html[data-theme='dark'] input[type="search"]::-webkit-search-cancel-button  {
  background: url("@site/static/img/help/search-icon-dark.svg") no-repeat 50% 50%;
}

#search_input_react {
  border-radius: 6px;
  border: 1px solid var(--ifm-help-center-card-border);
  padding: 0 0.5rem 0 2.25rem !important;
  background: var(--ifm-navbar-search-input-background-color) var(--ifm-navbar-search-input-icon) no-repeat 0.75rem center / 1rem 1rem !important;
  background-color: var(--ifm-help-center-input-bg) !important;
}