/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5b8ef4;
  --ifm-color-primary-dark: #3c78f2;
  --ifm-color-primary-darker: #2c6ef1;
  --ifm-color-primary-darkest: #0f53dc;
  --ifm-color-primary-light: #7aa4f6;
  --ifm-color-primary-lighter: #8aaef7;
  --ifm-color-primary-lightest: #b9cffa;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-hover-overlay: #f5f7fa;
  --ifm-table-border-color: #dee2e8;
  --ifm-footer-background-color: #f5f7fa;
  --prism-background-color: #f5f7fa;
  --ifm-navbar-height: 80px;
  --ifm-footer-link-color: #25272a;
  --ifm-footer-copy-right-color: #b6babf;
  --ifm-footer-title-color: #84909a;
  /* help center */
  --ifm-title-color-description: #515a62;
  --ifm-title-text-color: #262626;
  --ifm-text-hover-color: #fff;
  --ifm-help-center-bg: #f2f6fe;
  --ifm-help-center-card-border: #c5cbd5;
  --ifm-help-center-card-border-hover: #5b8ef4;
  --ifm-help-center-input-bg: #fff;
  --ifm-help-center-category-header-bg: #fff;
  --ifm-help-center-category-tile: #B6BABF;
  --ifm-help-center-category-suggestion-text: #515A62;
  --ifm-help-center-category-container-bg: #fff;
  --ifm-help-center-category-container-border: #E0E0E0;
  --ifm-navbar-search-input-icon: url("@site/static/img/help/help-search-icon-light.svg");
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"]:root {
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-hover-overlay: #262626;
  --ifm-background-color: #000000;
  --ifm-navbar-background-color: #000000;
  --ifm-footer-background-color: #151718;
  --ifm-table-background: #151718;
  --ifm-table-head-background: #151718;
  --ifm-table-border-color: #262626;
  --prism-background-color: #151718;
  --ifm-color-gray-700: var(--ifm-toc-border-color);
  --ifm-footer-link-color: #fff;
  --ifm-footer-title-color: #fff;
  /* help center */
  --ifm-title-color-description: #8c8c8c;
  --ifm-title-text-color: #fff;
  --ifm-text-hover-color: #fff;
  --ifm-help-center-bg: #000000;
  --ifm-help-center-card-border: #484848;
  --ifm-help-center-card-border-hover: #5b8ef4;
  --ifm-help-center-input-bg: #000000;
  --ifm-help-center-category-header-bg: #151718;
  --ifm-help-center-category-tile: #3D3D3D;
  --ifm-help-center-category-suggestion-text: #8C8C8C;
  --ifm-help-center-category-container-bg: #131415;
  --ifm-help-center-category-container-border: #484848;
  --ifm-navbar-search-input-icon: url("@site/static/img/help/help-search-icon-dark.svg");
}

.align-center {
  text-align: center;
}

.security-mechanism {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.security-mechanism li {
  margin-right: 10px;
  flex: 1 1 0%;
  padding: 4px;
}
/* .security-mechanism li:hover {
  background: rgb(247, 247, 248);
} */

.security-mechanism li + li {
  margin-top: 0;
}

.highlight-block-container {
  border: 1px solid #fed4a4;
  border-radius: 8px;
  background-color: #fff5eb;
  padding: 16px;
  margin-bottom: 24px;
  color: rgb(31, 35, 41);
}

.menu__list-item-collapsible .menu__link--active,
.menu__list-item-collapsible .menu__link:hover {
  background: none !important;
}

table thead tr {
  border-bottom: none;
}

.table-of-contents {
  font-size: 0.9rem;
}

.footer__copyright {
  font-size: 14px;
  color: var(--ifm-footer-copy-right-color);
}

.footer__title {
  color: var(--ifm-footer-title-color);
}

/* #search_input_react {
  display: none;
} */
.algolia-autocomplete .ds-dropdown-menu {
  max-width: 100% !important;
  width: 100%;
}

.algolia-autocomplete .ds-dropdown-menu::before {
  display: none !important;
}

mark {
  background-color: transparent !important;
  color: #5B8EF4 !important;
}
